@import "tailwindcss";

@font-face {
    font-family: "Sekuya";
    src: url(../fonts/Sekuya.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf");
    font-style: normal;
    font-display: swap;
    color: rgba(138, 48, 255, 0.2);
}

@theme {
    --font-sekuya: "Sekuya", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --color-primary: #5E1ABA;
    --color-secondary: #A685A3;

    --color-dark-base: #0D0028;
    --color-dark-surface-1: #140033;
    --color-dark-surface-2: #1B0A3D;

    --color-dark-primary-hover: #7A2CF0;
    --color-dark-accent: #6EC8FF;

    --color-dark-text: #EAE6FF;
    --color-dark-muted: #A685A3;

    --color-dark-border: rgba(138, 48, 255, 0.2);

    /* ===== LIGHT THEME ===== */
    --color-light-base: #F7F4FB;

    --color-light-surface-1: #fff;
    --color-light-surface-2: #EFEAF6;

    --color-light-primary-hover: #4B1496;
    
    --color-light-accent: #5FADE6;

    --color-light-text: #1B102A;
    --color-light-text-muted: #5A4B66;
}